.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  width: 60px; /* Ajusta el ancho y el alto según sea necesario */
  height: 60px;
  background-color: lightgray;
  border: 1px solid black;
  position: relative;
  margin-bottom: -30px; /* Ajusta el valor para la distancia vertical entre hexágonos */
}

.square:nth-child(2n) {
  margin-left: -30px; /* Ajusta el valor para la distancia horizontal entre hexágonos */
}

.square::before {
  content: "";
  display: block;
  position: absolute;
  top: -25%;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 52px solid lightgray;
}

.empty-square {
  width: 60px; /* Ajusta el ancho y el alto según sea necesario */
  height: 60px;
  visibility: hidden;
}


.hexagono {
  position: relative;
  width: 100px; /* Ancho de los hexágonos */
  height: 110px; /* Altura de los hexágonos */
  margin: 2px; /* Espacio entre los hexágonos */
  background-color: #64b5f6;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.board-container {
  display: flex;
}
  